.speech {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
}
.stage-direction {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: black;
    background-color: blanchedalmond;
}
.stage-direction:hover {
    color: lightgoldenrodyellow;
    background-color: darkolivegreen;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: black;
}
.name:hover {
    text-shadow: 2px 2px 2px goldenrod;
}
.goring {
    color: black;
}
.chiltern {
    color: black;
}
table {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    background-color: lightgoldenrodyellow;
    border: solid 3px darkslategray;
    border-collapse: collapse;
    margin-top: 3%;
}
th {
    border: solid 2px darkslategray;
    text-align: center;
    padding: 10px;
}